#swiper { 
    width: 800px;
    height: 100px; 
    background-color: rgb(230, 78, 154); 
    color: '#000'
  }
  /* // 给body添加一个背景图片 */
body{
  background: url("../assets/wao.png") no-repeat center;
}